Repository openstack/heat: changes, and which Zuul jobs are due for each by the changed paths.
All: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

.zuul.yaml:

- job:
    name: heat-functional-devstack-base
    parent: legacy-dsvm-base
    run: playbooks/devstack/functional/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/aodh
      - openstack/barbican
      - openstack/barbican-tempest-plugin
      - openstack/ceilometer
      - openstack/devstack-plugin-amqp1
      - openstack/heat
      - openstack/heat-tempest-plugin
      - openstack/neutron
      - openstack/octavia
      - openstack/oslo.messaging
      - openstack/python-barbicanclient
      - openstack/python-heatclient
      - openstack/heat-agents
      - openstack/python-zaqarclient
      - openstack/zaqar
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
    vars:
      disable_convergence: 'false'
      sql: mysql
      use_amqp1: 0
      use_apache: 1
      use_python3: 0
      branch_override: default

- job:
    name: heat-functional-orig-mysql-lbaasv2
    parent: heat-functional-devstack-base
    vars:
      disable_convergence: 'true'

- job:
    name: heat-functional-convg-mysql-lbaasv2
    parent: heat-functional-devstack-base

- job:
    name: heat-functional-convg-mysql-lbaasv2-amqp1
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_amqp1: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-non-apache
    parent: heat-functional-devstack-base
    voting: false
    vars:
      use_apache: 0

- job:
    name: heat-functional-convg-mysql-lbaasv2-py3
    parent: heat-functional-devstack-base
    vars:
      use_python3: 1

- job:
    name: grenade-heat
    parent: legacy-dsvm-base
    run: playbooks/devstack/grenade/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-dev/grenade
      - openstack-infra/devstack-gate
      - openstack/heat
      - openstack/heat-tempest-plugin
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
    vars:
      topology: aio
      branch_override: default

- job:
    name: grenade-heat-multinode
    parent: grenade-heat
    nodeset: ubuntu-bionic-2-node
    roles:
      - zuul: openstack-infra/zuul-jobs
    pre-run: playbooks/devstack/multinode-networking/pre.yaml
    vars:
      topology: multinode

- project:
    templates:
      - openstack-cover-jobs
      - openstack-lower-constraints-jobs
      - openstack-python-jobs
      - openstack-python35-jobs
      - openstack-python36-jobs
      - publish-openstack-docs-pti
      - check-requirements
      - release-notes-jobs-python3
    check:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-amqp1
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py3
    gate:
      queue: heat
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-py3
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario002-standalone

Fix regression with SW deployments when region not configured
  heat/engine/resources/openstack/heat/software_deployment.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Blacklist bandit 1.6.0 and cap Sphinx on Python2
  test-requirements.txt
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3

Return None for attributes of sd with no actions
  heat/engine/resources/openstack/heat/software_deployment.py
  heat/tests/openstack/heat/test_software_deployment.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Blacklist bandit 1.6.0 and cap Sphinx on Python2
  test-requirements.txt
  tox.ini
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Do not re-clone heat in devstack plugin
  devstack/lib/heat
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add Blazar custom constraint plugin
  heat/engine/clients/os/blazar.py
  setup.cfg
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Allow creating trusts with allow_redelegation
  heat/common/config.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/tests/clients/test_heat_client.py
  releasenotes/notes/trust-redelegate-25a6cfc78528a361.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Don't use 'assert' keyword in unit tests
  heat/tests/fakes.py
  heat/tests/openstack/nova/fakes.py
  heat/tests/test_auth_password.py
  heat/tests/test_noauth.py
Due: none

Update keystone_authtoken config reference
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

Fix allowed address pair validation
  heat/engine/constraint/common_constraints.py
  heat/tests/constraints/test_common_constraints.py
  heat/tests/openstack/neutron/test_neutron_port.py
  heat/tests/openstack/neutron/test_neutron_subnet.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Disallow in-place update of Port MAC address
  heat/engine/resources/openstack/neutron/port.py
  releasenotes/notes/port-mac-address-update-b377d23434e7b48a.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Ignore false positive Bandit test
  heat/common/context.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add doc for multi-clouds support
  doc/source/template_guide/feature_guide.rst
  doc/source/template_guide/index.rst
  doc/source/template_guide/multi-clouds.rst
  heat_integrationtests/prepare_test_env.sh
  releasenotes/notes/add_doc_for_multi_cloud_support-9f6e74ccc2639b4e.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add local bindep.txt
  bindep.txt
  tools/test-requires-deb
  tools/test-requires-rpm
  tox.ini
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Unit tests: Fix wrong assert function name in port update
  heat/tests/openstack/neutron/test_neutron_port.py
Due: none

Update tools/README.rst with bindep info
  tools/README.rst
Due: none

Update install docs for Keystone v3
  doc/source/getting_started/standalone.rst
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

Add periodic job template
  .zuul.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add local bindep.txt and limit bandit version
  bindep.txt
  test-requirements.txt
  tox.ini
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Don't resolve properties for OS::Heat::None resource
  heat/engine/resources/openstack/heat/none_resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Retry on DB deadlock in event_create()
  heat/db/sqlalchemy/api.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add dedicated auth endpoint config for servers
  heat/common/config.py
  heat/engine/clients/os/keystone/fake_keystoneclient.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/resources/server_base.py
  heat/engine/resources/signal_responder.py
  heat/tests/clients/test_heat_client.py
  releasenotes/notes/add-dedicated-auth-endpoint-config-for-servers-b20f7eb351f619d0.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Merge parameters and templates when resetting stack status
  heat/engine/stack.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Update api-ref location
  doc/source/index.rst
  doc/source/template_guide/software_deployment.rst
  heat/engine/resources/openstack/neutron/port.py
  tox.ini
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Show an engine as down if service record is not updated twice
  heat/common/service_utils.py
  heat/tests/test_common_service_utils.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Do not perform the tenant stack limit check for admin user
  heat/engine/service.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode
