Repository openstack/heat: changes, and which Zuul jobs are due for each by the changed paths.
All: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

.zuul.yaml:

- job:
    name: heat-functional-devstack-base
    parent: legacy-dsvm-base
    run: playbooks/devstack/functional/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/aodh
      - openstack/barbican
      - openstack/barbican-tempest-plugin
      - openstack/ceilometer
      - openstack/devstack-plugin-amqp1
      - openstack/heat
      - openstack/heat-tempest-plugin
      - openstack/neutron
      - openstack/neutron-lbaas
      - openstack/oslo.messaging
      - openstack/python-barbicanclient
      - openstack/python-heatclient
      - openstack/python-zaqarclient
      - openstack/zaqar
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
    vars:
      disable_convergence: 'false'
      sql: mysql
      use_amqp1: 0
      use_apache: 1
      use_python3: 0
      use_identity_v3_only: 0
      branch_override: default

- job:
    name: heat-functional-orig-mysql-lbaasv2
    parent: heat-functional-devstack-base
    vars:
      disable_convergence: 'true'

- job:
    name: heat-functional-convg-mysql-lbaasv2
    parent: heat-functional-devstack-base

- job:
    name: heat-functional-convg-mysql-lbaasv2-amqp1
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_amqp1: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-non-apache
    parent: heat-functional-devstack-base
    vars:
      use_apache: 0

- job:
    name: heat-functional-convg-mysql-lbaasv2-py35
    parent: heat-functional-devstack-base
    vars:
      use_python3: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-identity-v3-only
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_identity_v3_only: 1

- job:
    name: grenade-heat
    parent: legacy-dsvm-base
    run: playbooks/devstack/grenade/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-dev/grenade
      - openstack-infra/devstack-gate
      - openstack/heat
      - openstack/heat-tempest-plugin
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
    vars:
      topology: aio
      branch_override: default

- job:
    name: grenade-heat-multinode
    parent: grenade-heat
    nodeset: ubuntu-xenial-2-node
    roles:
      - zuul: openstack-infra/zuul-jobs
    pre-run: playbooks/devstack/multinode-networking/pre.yaml
    vars:
      topology: multinode

- project:
    check:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-amqp1
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py35
        - heat-functional-convg-mysql-lbaasv2-identity-v3-only
        - openstack-tox-lower-constraints
    gate:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py35
        - openstack-tox-lower-constraints
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario002-multinode-oooq
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove mox from test_nova_client
  heat/tests/clients/test_nova_client.py
Due: none

Fix entropy problems with OS::Random::String
  heat/common/password_gen.py
  heat/engine/resources/openstack/heat/random_string.py
  heat/tests/openstack/heat/test_random_string.py
  releasenotes/notes/random-string-entropy-9b8e23874cd79b8f.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Generate user passwords with special characters
  heat/common/password_gen.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/resources/openstack/heat/wait_condition_handle.py
  heat/engine/resources/server_base.py
  heat/engine/resources/signal_responder.py
  heat/tests/clients/test_heat_client.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Resolve race in providing deployment data to Swift
  heat/engine/service_software_config.py
  heat/tests/engine/service/test_software_config.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Updated from global requirements
  requirements.txt
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only

Use wait_random_exponential from tenacity 4.4.0
  heat/engine/sync_point.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Dashboard creator: fix bugs query
  tools/dashboards/heat.dash
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox from openstack_v1/test_actions
  heat/tests/api/openstack_v1/test_actions.py
Due: none

Move openstackdocstheme to extensions in api-ref
  api-ref/source/conf.py
Due: none

Remove mox from openstack_v1/test_resources
  heat/tests/api/openstack_v1/test_resources.py
Due: none

Add MicroversionMixin for microversion support
  heat/engine/clients/microversion_mixin.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Persist external resources on update
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox from test_instance
  heat/tests/aws/test_instance.py
Due: none

tox: Don't delete Python3 .pyc files
  tox.ini
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox from openstack_v1/test_events
  heat/tests/api/openstack_v1/test_events.py
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix broken test in DockerContainerTest
  contrib/heat_docker/heat_docker/tests/test_docker_container.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox usage from test_docker_container
  contrib/heat_docker/heat_docker/tests/test_docker_container.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox usage from test_server_tags
  heat/tests/test_server_tags.py
Due: none

remove mox usage from test_subscription
  heat/tests/openstack/zaqar/test_subscription.py
Due: none

remove mox usage from test_queue
  heat/tests/openstack/zaqar/test_queue.py
Due: none

Remove mox usage from test_vpc (part 1)
  heat/tests/test_vpc.py
Due: none

Remove mox usage from test_vpc (part 2)
  heat/tests/test_vpc.py
Due: none

Remove mox from test_neutron_loadbalancer 3/4 - PoolMemberTest
  heat/tests/openstack/neutron/test_neutron_loadbalancer.py
Due: none

Remove mox from test_neutron_loadbalancer 2/4 - PoolTest
  heat/tests/openstack/neutron/test_neutron_loadbalancer.py
Due: none

Remove mox from test_scheduler.TaskTest
  heat/tests/engine/test_scheduler.py
Due: none

Remove mox from test_scheduler.WrapperTaskTest
  heat/tests/engine/test_scheduler.py
Due: none

Remove mox from test_neutron_loadbalancer 4/4 - all rest tests
  heat/tests/openstack/neutron/test_neutron_loadbalancer.py
Due: none

Remove mox from test_hot
  heat/tests/test_hot.py
Due: none

Remove mox from test_event
  heat/tests/test_event.py
Due: none

Remove mox from test_user
  heat/tests/aws/test_user.py
Due: none

Remove mox from test_lifecycle_plugin_utils
  heat/tests/test_lifecycle_plugin_utils.py
Due: none

Remove mox from test_urlfetch
  heat/tests/test_urlfetch.py
Due: none

Remove mox from test_provider_template
  heat/tests/test_provider_template.py
Due: none

Remove mox from test_s3
  heat/tests/aws/test_s3.py
Due: none

Remove mox from test_stack_user
  heat/tests/test_stack_user.py
Due: none

Remove mox from test_sqlalchemy_api
  heat/tests/db/test_sqlalchemy_api.py
Due: none

Avoid race in OSWaitCondition test
  heat_integrationtests/functional/test_os_wait_condition.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode
