Repository openstack/heat: changes, and which Zuul jobs are due for each by the changed paths.
All: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

.zuul.yaml:

- job:
    name: heat-functional-devstack-base
    parent: legacy-dsvm-base
    run: playbooks/devstack/functional/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/aodh
      - openstack/barbican
      - openstack/barbican-tempest-plugin
      - openstack/ceilometer
      - openstack/devstack-plugin-amqp1
      - openstack/heat
      - openstack/heat-tempest-plugin
      - openstack/neutron
      - openstack/octavia
      - openstack/oslo.messaging
      - openstack/python-barbicanclient
      - openstack/python-heatclient
      - openstack/heat-agents
      - openstack/python-zaqarclient
      - openstack/zaqar
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
    vars:
      disable_convergence: 'false'
      sql: mysql
      use_amqp1: 0
      use_apache: 1
      use_python3: 0
      branch_override: default

- job:
    name: heat-functional-orig-mysql-lbaasv2
    parent: heat-functional-devstack-base
    vars:
      disable_convergence: 'true'

- job:
    name: heat-functional-convg-mysql-lbaasv2
    parent: heat-functional-devstack-base

- job:
    name: heat-functional-convg-mysql-lbaasv2-amqp1
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_amqp1: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-non-apache
    parent: heat-functional-devstack-base
    voting: false
    vars:
      use_apache: 0

- job:
    name: heat-functional-convg-mysql-lbaasv2-py3
    parent: heat-functional-devstack-base
    vars:
      use_python3: 1

- job:
    name: grenade-heat
    parent: legacy-dsvm-base
    run: playbooks/devstack/grenade/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-dev/grenade
      - openstack-infra/devstack-gate
      - openstack/heat
      - openstack/heat-tempest-plugin
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
    vars:
      topology: aio
      branch_override: default

- job:
    name: grenade-heat-multinode
    parent: grenade-heat
    nodeset: ubuntu-bionic-2-node
    roles:
      - zuul: openstack-infra/zuul-jobs
    pre-run: playbooks/devstack/multinode-networking/pre.yaml
    vars:
      topology: multinode

- project:
    templates:
      - openstack-cover-jobs
      - openstack-lower-constraints-jobs
      - openstack-python-jobs
      - openstack-python35-jobs
      - openstack-python36-jobs
      - publish-openstack-docs-pti
      - check-requirements
      - release-notes-jobs-python3
    check:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-amqp1
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py3
    gate:
      queue: heat
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-py3
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario002-standalone

Do not perform the tenant stack limit check for admin user
  heat/engine/service.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix broken RST link
  doc/source/admin/auth-model.rst
Due: none

Never pass 'value_specs' to Neutron
  heat/engine/resources/openstack/neutron/neutron.py
  heat/tests/openstack/neutron/test_neutron_port.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Allow update of previously-replaced resources
  heat/engine/check_resource.py
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Show an engine as down if service record is not updated twice
  heat/common/service_utils.py
  heat/tests/test_common_service_utils.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Update Debian Installation Document
  doc/source/install/install-debian.rst
Due: none

Fix Designate Zone lookup by name
  heat/engine/clients/os/designate.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix senlin cluster create
  heat/engine/clients/os/senlin.py
  heat/engine/resources/openstack/senlin/cluster.py
  heat/tests/openstack/senlin/test_cluster.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Blacklist sphinx 2.1.0 (autodoc bug)
  doc/requirements.txt
Due: none

Update readme
  README.rst
Due: none

Change HOST_IP to SERVICE_HOST
  devstack/lib/heat
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Bump the openstackdocstheme extension to 1.20
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Add heat resource for creating Aodh loadbalancer_member_health alarm type[1]
  heat/engine/resources/openstack/aodh/alarm.py
  heat/tests/openstack/aodh/test_alarm.py
  releasenotes/notes/add-aodh-lbmemberhealth-alarm-c59502aac1944b8b.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix Senlin policy resource
  heat/engine/resources/openstack/senlin/policy.py
  heat/tests/openstack/senlin/test_policy.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Use no-op drivers for Octavia in gate
  .zuul.yaml
  playbooks/devstack/functional/run.yaml
  playbooks/get_amphora_tarball.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix allowed address pair validation
  heat/engine/constraint/common_constraints.py
  heat/tests/constraints/test_common_constraints.py
  heat/tests/openstack/neutron/test_neutron_port.py
  heat/tests/openstack/neutron/test_neutron_subnet.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Allow turning off max_stacks limit
  heat/common/config.py
  heat/engine/service.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix coverity check FORWARD_NULL error
  heat/common/exception.py
  heat/engine/resources/aws/ec2/instance.py
  heat/engine/resources/openstack/nova/server.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Fix invalid assert state
  heat/tests/engine/service/test_stack_snapshot.py
Due: none

Firewall creation failed due to "INACTIVE"
  heat/engine/resources/openstack/neutron/firewall.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Drop creating extra endpoints in devstack
  devstack/lib/heat
  devstack/settings
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add retry for sync_point_update_input_data
  heat/db/sqlalchemy/api.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Ensure _static exists with placeholder
  doc/source/_static/.placeholder
Due: none

Use connect_retries when creating clients
  heat/engine/clients/os/aodh.py
  heat/engine/clients/os/barbican.py
  heat/engine/clients/os/blazar.py
  heat/engine/clients/os/cinder.py
  heat/engine/clients/os/glance.py
  heat/engine/clients/os/heat_plugin.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/clients/os/magnum.py
  heat/engine/clients/os/manila.py
  heat/engine/clients/os/neutron/__init__.py
  heat/engine/clients/os/nova.py
  heat/engine/clients/os/sahara.py
  heat/engine/clients/os/trove.py
  heat/tests/clients/test_heat_client.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add dedicated auth endpoint config for servers
  heat/common/config.py
  heat/engine/clients/os/keystone/fake_keystoneclient.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/resources/server_base.py
  heat/engine/resources/signal_responder.py
  heat/tests/clients/test_heat_client.py
  releasenotes/notes/add-dedicated-auth-endpoint-config-for-servers-b20f7eb351f619d0.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add retries when loading keystone data and fetching endpoints
  heat/common/context.py
  heat/engine/clients/client_plugin.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Add connect_retries when creating domain_admin_client
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/tests/clients/test_heat_client.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Use connect_retries when creating clients
  heat/engine/clients/os/aodh.py
  heat/engine/clients/os/barbican.py
  heat/engine/clients/os/cinder.py
  heat/engine/clients/os/glance.py
  heat/engine/clients/os/heat_plugin.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/clients/os/magnum.py
  heat/engine/clients/os/manila.py
  heat/engine/clients/os/neutron/__init__.py
  heat/engine/clients/os/nova.py
  heat/engine/clients/os/sahara.py
  heat/engine/clients/os/trove.py
  heat/tests/clients/test_heat_client.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Bump lower constraint of python-zunclient
  lower-constraints.txt
  requirements.txt
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3, grenade-heat, grenade-heat-multinode

Blacklist eventlet 0.21.0,0.23.0,0.25.0
  requirements.txt
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py3
