Repository openstack/heat: changes, and which Zuul jobs are due for each by the changed paths.
All: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

.zuul.yaml:

- job:
    name: heat-functional-devstack-base
    parent: legacy-dsvm-base
    run: playbooks/devstack/functional/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/aodh
      - openstack/barbican
      - openstack/barbican-tempest-plugin
      - openstack/ceilometer
      - openstack/devstack-plugin-amqp1
      - openstack/heat
      - openstack/heat-tempest-plugin
      - openstack/neutron
      - openstack/neutron-lbaas
      - openstack/oslo.messaging
      - openstack/python-barbicanclient
      - openstack/python-heatclient
      - openstack/python-zaqarclient
      - openstack/zaqar
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
    vars:
      disable_convergence: 'false'
      sql: mysql
      use_amqp1: 0
      use_apache: 1
      use_python3: 0
      use_identity_v3_only: 0
      branch_override: default

- job:
    name: heat-functional-orig-mysql-lbaasv2
    parent: heat-functional-devstack-base
    vars:
      disable_convergence: 'true'

- job:
    name: heat-functional-convg-mysql-lbaasv2
    parent: heat-functional-devstack-base

- job:
    name: heat-functional-convg-mysql-lbaasv2-amqp1
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_amqp1: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-non-apache
    parent: heat-functional-devstack-base
    vars:
      use_apache: 0

- job:
    name: heat-functional-convg-mysql-lbaasv2-py35
    parent: heat-functional-devstack-base
    vars:
      use_python3: 1

- job:
    name: heat-functional-convg-mysql-lbaasv2-identity-v3-only
    parent: heat-functional-devstack-base
    voting: false
    branches: master
    vars:
      use_identity_v3_only: 1

- job:
    name: grenade-heat
    parent: legacy-dsvm-base
    run: playbooks/devstack/grenade/run.yaml
    post-run: playbooks/devstack/functional/post.yaml
    timeout: 7800
    required-projects:
      - openstack-dev/grenade
      - openstack-infra/devstack-gate
      - openstack/heat
      - openstack/heat-tempest-plugin
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^heat/locale/.*$
      - ^heat/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
    vars:
      topology: aio
      branch_override: default

- job:
    name: grenade-heat-multinode
    parent: grenade-heat
    nodeset: ubuntu-xenial-2-node
    roles:
      - zuul: openstack-infra/zuul-jobs
    pre-run: playbooks/devstack/multinode-networking/pre.yaml
    vars:
      topology: multinode

- project:
    check:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-amqp1
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py35
        - heat-functional-convg-mysql-lbaasv2-identity-v3-only
        - openstack-tox-lower-constraints
    gate:
      jobs:
        - grenade-heat
        - grenade-heat-multinode
        - heat-functional-orig-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2
        - heat-functional-convg-mysql-lbaasv2-non-apache
        - heat-functional-convg-mysql-lbaasv2-py35
        - openstack-tox-lower-constraints
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario002-multinode-oooq
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container

Refactor condition expression in Resource.load()
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Update .stestr.conf with the group_regex
  devstack/upgrade/resources.sh
  heat_integrationtests/post_test_hook.sh
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Add endpoint_type config option
  heat_integrationtests/api/test_heat_api.py
  heat_integrationtests/common/clients.py
  heat_integrationtests/common/config.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Replace random with SystemRandom for RandomString
  heat/engine/resources/openstack/heat/random_string.py
  releasenotes/notes/system-random-string-38a14ae2cb6f4a24.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Fix entropy problems with OS::Random::String
  heat/common/password_gen.py
  heat/engine/resources/openstack/heat/random_string.py
  heat/tests/openstack/heat/test_random_string.py
  releasenotes/notes/random-string-entropy-9b8e23874cd79b8f.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Generate user passwords with special characters
  heat/common/password_gen.py
  heat/engine/clients/os/keystone/heat_keystoneclient.py
  heat/engine/resources/openstack/heat/wait_condition_handle.py
  heat/engine/resources/server_base.py
  heat/engine/resources/signal_responder.py
  heat/tests/clients/test_heat_client.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Allow iteration over files dict before template stored
  heat/engine/template_files.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Fixing unicode issue when to_dict is called on py2.7 env
  heat/common/context.py
  heat/tests/test_common_context.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Add .testr.conf to work with latest Tempest
  heat_integrationtests/post_test_hook.sh
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Fix indentation in hot_spec.rst
  doc/source/template_guide/hot_spec.rst
Due: none

Fixing Senlin incompatibility with openstacksdk 0.11.x
  heat/engine/clients/os/openstacksdk.py
  heat/engine/clients/os/senlin.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Replace create_a_stack doc stack uuid and timestamp
  doc/source/getting_started/create_a_stack.rst
Due: none

Increment resource atomic key when storing attributes
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove mox usage from test_api_ec2token
  heat/tests/api/aws/test_api_ec2token.py
  heat/tests/utils.py
Due: none

Fix lower-constraints
  lower-constraints.txt
  requirements.txt
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Docs: Reorganise landing page
  doc/source/conf.py
  doc/source/index.rst
  doc/source/templates/cfn/WordPress_Single_Instance.rst
  doc/source/templates/hot/hello_world.rst
  doc/source/templates/index.rst
Due: none

Replace pbr autodoc with sphinxcontrib-apidoc
  doc/requirements.txt
  doc/source/api/index.rst
  doc/source/conf.py
  setup.cfg
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only

Docs: include all useful module docs
  doc/source/conf.py
Due: none

Docs: modernise links
  HACKING.rst
  README.rst
  contrib/heat_docker/setup.cfg
  doc/source/contributing/blueprints.rst
  doc/source/developing_guides/architecture.rst
  doc/source/developing_guides/gmr.rst
  doc/source/getting_started/on_devstack.rst
  doc/source/getting_started/on_fedora.rst
  doc/source/getting_started/on_ubuntu.rst
  doc/source/glossary.rst
  doc/source/install/index.rst
  doc/source/install/next-steps.rst
  doc/source/operating_guides/httpd.rst
  doc/source/operating_guides/scale_deployment.rst
  doc/source/template_guide/existing_templates.rst
  doc/source/template_guide/software_deployment.rst
  heat/common/i18n.py
  heat/engine/template.py
  setup.cfg
  tools/README.rst
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Docs: Fix broken external links
  doc/source/admin/introduction.rst
  doc/source/developing_guides/pluginguide.rst
  doc/source/getting_started/create_a_stack.rst
  doc/source/getting_started/on_fedora.rst
  doc/source/getting_started/on_other.rst
  doc/source/glossary.rst
  doc/source/operating_guides/scale_deployment.rst
  doc/source/template_guide/basic_resources.rst
  doc/source/template_guide/software_deployment.rst
Due: none

Docs: use local references for internal links
  doc/source/_extra/.htaccess
  doc/source/install/index.rst
  doc/source/install/launch-instance.rst
  doc/source/install/next-steps.rst
  doc/source/operating_guides/scale_deployment.rst
  doc/source/template_guide/hello_world.rst
Due: none

Remove mox usage from test_resource
  heat/tests/test_resource.py
Due: none

Update Zuul branch limit
  .zuul.yaml
  playbooks/devstack/functional/run.yaml
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Remove install-requirements script
  heat_integrationtests/install-requirements
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Log traversal ID when beginning
  heat/engine/stack.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Fix nova fakes for server listing
  heat/tests/openstack/nova/fakes.py
Due: none

Remove mox usage from test_engine_service
  heat/tests/engine/tools.py
  heat/tests/test_engine_service.py
Due: none

Remove mox usage from test_software_config
  heat/tests/engine/service/test_software_config.py
Due: none

Remove mox usage from test_stack_resources and tools
  heat/tests/engine/service/test_stack_resources.py
  heat/tests/engine/tools.py
Due: none

Do deepcopy when copying templates
  heat_integrationtests/functional/test_update_restricted.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Retry resource check if atomic key incremented
  heat/engine/check_resource.py
  heat/tests/engine/test_check_resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Avoid double-write when updating FAILED rsrc with no change
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Make resource requires a set instead of a list
  heat/engine/resource.py
  heat/tests/test_convg_stack.py
  heat/tests/test_resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Don't pass input_data to Resource.delete_convergence()
  heat/engine/check_resource.py
  heat/engine/resource.py
  heat/tests/engine/test_check_resource.py
  heat/tests/test_resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode

Calculate the requires list in check_resource
  heat/engine/check_resource.py
  heat/engine/resource.py
  heat/tests/engine/test_check_resource.py
  heat/tests/test_resource.py
Due: heat-functional-devstack-base, heat-functional-orig-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2, heat-functional-convg-mysql-lbaasv2-amqp1, heat-functional-convg-mysql-lbaasv2-non-apache, heat-functional-convg-mysql-lbaasv2-py35, heat-functional-convg-mysql-lbaasv2-identity-v3-only, grenade-heat, grenade-heat-multinode
